<style>
    footer {
        padding: 5px;
        box-shadow: 0 2px 12px rgba(101, 100, 102, 0.8);
        text-align: center;
    }

    footer>p,
    a {
        font-weight: 600;
        color: #ff00b3;
    }

    footer p img{
        height: 18px;
    }
</style>

<footer>
    <p>&copy; 2024 Copyright - Designed & Developed by <a href="https://manaskpradhan.vercel.app/" target="_blank">Manas
            Kumar Pradhan</a>. All rights reserved. <br>
        Page views:
        <img src="https://hitwebcounter.com/counter/counter.php?page=10897844&style=0030&nbdigits=5&type=page&initCount=0"
            title="Page View Counter" alt="Page view counter for websites" border="0" />
        <br>Unique views:
        <img src="https://hitwebcounter.com/counter/counter.php?page=10897917&style=0030&nbdigits=5&type=ip&initCount=0"
            title="Unique View Counter" alt="Unique view counter for websites" border="0" />
    </p>
</footer>