<div class="theme-container">
    <button class="light">
        <img src="res/sun.svg" class="svgIcon" alt="">
        Light
    </button>
    <button class="dark">
        <img src="res/moon.svg" class="svgIcon" alt="">
        Dark
    </button>
</div>